<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <%- include('../partials/header',{hideAddButton: false}) %>
    <div class="content">
        <!-- looping content dari article.json -->
        <% if(articles && articles.length){%>
            <% articles.forEach(function(a){%>
                <article>
                    <h2><%= a.title%></h2>
                    <p><small><%= new Date(a.date).toLocaleString() %></small></p>
                </article>
            <%})%>
        <%}%>
    </div>
</body>
</html>