<div class="header">
    <h1>Nazrin - Personal Blog</h1>
    <h3>Admin side</h3>
    <% if (!hideAddButton) { %>
    <button type="button" class="add-btn">
        <a href="/admin/addarticle">Add new article</a>
    </button>
    <% } %>
</div>

