h1{
    text-align: center;
}
h3{
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px;
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;
    border-style:solid;
    border-color: black;
}